<div *ngIf="game">
    <div class="container">
        <div class="game-pricing__section">
            <div class="game-pricing-filters">
                <div class="game-pricing-filters__label">Medium</div>
                <tl-dropdown [tlDropdownStopPropagation]="true">
                    <button class="btn btn--darkest-blue game-pricing-filters__btn" tlDropdownBtn>
                        Digital <span class="caret"></span>
                    </button>
                    <div class="dropdown-content" tlDropdownContent>
                        <ul class="list">
                            <li class="active"><a>Digital</a></li>
                            <li><a>Physical</a></li>
                        </ul>
                    </div>
                </tl-dropdown>
            </div>
            <div class="game-pricing-filters">
                <div class="game-pricing-filters__label">Platform</div>
                <tl-dropdown [tlDropdownStopPropagation]="true">
                    <button class="btn btn--darkest-blue game-pricing-filters__btn" tlDropdownBtn>
                        PlayStation 4 <span class="caret"></span>
                    </button>
                    <div class="dropdown-content" tlDropdownContent>
                        <ul class="list">
                            <li><a>Linux</a></li>
                            <li><a>Mac</a></li>
                            <li class="active"><a>PlayStation 4</a></li>
                            <li><a>Switch</a></li>
                            <li><a>Wii U</a></li>
                            <li><a>Windows</a></li>
                            <li><a>Xbox One</a></li>
                        </ul>
                    </div>
                </tl-dropdown>
            </div>
            <div class="game-pricing-filters">
                <div class="game-pricing-filters__label">Client</div>
                <tl-dropdown [tlDropdownStopPropagation]="true">
                    <button class="btn btn--darkest-blue game-pricing-filters__btn" tlDropdownBtn>
                        - <span class="caret"></span>
                    </button>
                    <div class="dropdown-content" tlDropdownContent>
                        <ul class="list">
                            <li><a>Steam</a></li>
                            <li><a>Origin</a></li>
                            <li><a>Uplay</a></li>
                            <li><a>GOG</a></li>
                        </ul>
                    </div>
                </tl-dropdown>
            </div>
        </div>
    </div>
    <div class="container container__no-mobile-padding">
        <table class="game-pricing__table table">
            <thead>
            <tr>
                <th>Price</th>
                <th></th>
                <th>Store</th>
                <th>Medium</th>
                <th>Platform</th>
                <th>Client</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of game.pricing.data; let i = index" [class.active]="i==0">
                <td class="game-price-cell">
                    <div>
                        <div class="game-price-cell__current">
                            &#36;{{item.currentPrice.price}}
                        </div>
                        <div class="game-price-cell__previous"
                             *ngIf="item.previousPrice">
                            &#36;{{item.previousPrice.price}}
                        </div>
                    </div>
                    <a [href]="item.url" target="_blank" class="btn"
                       [class.btn--dark-blue]="i!=0"
                       [class.btn--success]="i==0">
                        Buy Now
                    </a>
                </td>
                <td>
                    <span class="game-discount-cell" *ngIf="item.previousPrice">
                        <icon i="arrow-bottom-right"></icon>
                        <span>{{item.currentPrice.price | priceDiscount: item.previousPrice.price}} off</span>
                    </span>
                    <span [hidden]="item.previousPrice">-</span>
                </td>
                <td data="Store">{{item.vendor}}</td>
                <td data="Medium">{{item.medium}}</td>
                <td data="Platform">{{item.platform}}</td>
                <td data="Client">{{item.client || '-'}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>