.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	width: 200px;
	border-radius: $border-radius-base;
	z-index: 999;
	top: 100%;
	left: 0;
	background-color: $color-primary-600;

	&.active {
		display: block;
	}

	> ul.list {

	}
}