.game-display {
	display: block;
	position: relative;
	margin: 10px;
	user-select: none;
	cursor: default;
	width: 120px;
	text-decoration: none;
	color: #fff;
	float: left;

	&::before {
		background-color: rgba(#fff, .1);
		transition: transform 100ms ease, opacity 100ms ease;
		content: '';
		transform: scale(.9, .9);
		border-radius: $border-radius-base;
		position: absolute;
		top: -10px;
		left: -10px;
		right: -10px;
		bottom: -10px;
		z-index: 0;
		opacity: 0;
	}

	.game-display__cover {
		position: relative;
		width: 100%;
		height: 0;
		padding-bottom: 125%;
		background-position: center;
		background-size: cover;
		border-radius: $border-radius-base;
		z-index: 1;
	}

	.game-display__title {
		position: relative;
		z-index: 1;
		white-space: nowrap;
		text-overflow: ellipsis;
		width: 100%;
		overflow: hidden;
		font-weight: 300;
		font-size: .9rem;
		padding-top: 6px;
		opacity: .6;
		transition: opacity 100ms ease;
	}



	&:hover, &:active, &:focus {
		text-decoration: none;
		color: #fff;

		&::before {
			transform: scale(1, 1);
			opacity: 1;
		}

		.game-display__title {
			opacity: 1;
		}

	}
}