.navigation-parent {
	background-color: $color-primary-1000;
	height: 50px;
	position: relative;
	z-index: 1;
}

.navigation {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	flex-wrap: wrap;
	background-color: $color-primary-1000;
	height: 50px;
	margin-left: -20px;
	margin-right: -20px;
}

.navigation__logo {
	width: 50px;
	height: 50px;
	background-color: $color-accent-500;
	padding-top: 7.5px;
	text-align: center;
	position: relative;

	svg {
		width: 34px;
		fill: #fff;
	}
}

.navigation__search {
	flex: 1;
	position: relative;

	icon {
		position: absolute;
		top: 15px;
		left: 15px;

		svg {
			width: 20px;
			height: 20px;
			fill: rgba(#fff, .5);
		}
	}

	input {
		width: 100%;
		display: block;
		height: 50px;
		border: none;
		padding: 0 20px 0 45px;
		background: none;
		font-size: 16px;
		color: #fff;

		&::placeholder {
			color: rgba(#fff, .5);
		}

		&:focus {
			outline: none;
		}
	}
}

.navigation__menu {
	padding: 10px 10px 0 10px;
}

.navigation__link {
	width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-bottom: 10px;
	display: inline-block;
	text-align: center;
	padding-top: 3px;
	position: relative;

	svg {
		position: relative;
		transition: fill 200ms ease;
		fill: rgba(#fff, .5);
		z-index: 1;
	}

	&::before {
		content: '';
		z-index: 0;
		background-color: $color-primary-800;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border-radius: $border-radius-base;
		transform: scale(.5);
		opacity: 0;
		transition: transform 200ms ease, opacity 200ms ease, background 200ms ease;
	}

	&:hover, &.active {
		svg {
			fill: #fff;
		}

		&::before {
			transform: scale(1);
			opacity: 1;
		}
	}

	&.active::before {
		background-color: $color-primary-500;
	}
}

@media (min-width: 768px) {
	.navigation-parent {
		height: 60px;
	}

	.navigation {
		height: 60px;
		margin: 0;
	}

	.navigation__logo {
		width: 60px;
		height: 60px;
		padding-top: 12.5px;
	}

	.navigation__search {
		icon {
			top: 20px;
			left: 20px;
		}

		input {
			height: 60px;
			padding: 0 20px 0 50px;
		}
	}

	.navigation__link {
		width: 40px;
		height: 40px;
		padding-top: 8px;
		margin-left: 10px;
	}
}