.game {
	position: relative;
	z-index: 1;
}

.game-header {
	display: flex;
	flex-flow: row;
	align-items: stretch;
}

.game-header__cover {
	flex: 0 0 100px;
	height: 125px;
	border-radius: $border-radius-base;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
}

.game-header__side {
	flex: 0 0 480px;
	width: 300px;
	position: relative;
}

.game-header__info {
	flex: 1 1 auto;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	padding-left: 24px;
	height: 125px;
	position: relative;
}

.game__name {
	font-size: 2rem;
	text-shadow: 0 1px 2px rgba(#000, .8);
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	padding-right: 30px;
}

.game__price-range {
	opacity: .5;
	font-size: 1.4rem;
	width: 220px;
}

.game__notification {
	float: right;
	padding-top: 32px;
}

.game-header__tabs {
	position: absolute;
	bottom: 1px;
	left: 24px;
	right: 0;
}

.game-discount-cell {

	span {
		display: inline-block;
		vertical-align: middle;
		color: $color-success-500;
	}

	icon {
		height: 24px;
		width: 24px;
		display: inline-block;
		vertical-align: middle;

		svg.icon {
			fill: $color-success-500;
		}
	}
}

.game-price-cell {

	> div {
		margin-right: 10px;
		display: inline-block;
		vertical-align: middle;
	}

	.game-price-cell__current {
		width: 60px;
		font-weight: 700;
	}

	.game-price-cell__previous {
		width: 60px;
		font-size: .8rem;
		text-decoration: line-through;
		opacity: .5;
	}

}

.game-pricing__section {
	padding: 28px 0 16px 0;
}

.game-pricing-filters {
	display: inline-block;
	margin-right: 14px;
}

.game-pricing-filters__label {
	color: #fff;
	opacity: .5;
	font-size: 12px;
	text-transform: uppercase;
	margin-bottom: 4px;
}

.game-pricing-filters__btn {
	width: 170px;
	text-align: left;
	position: relative;

	span.caret {
		position: absolute;
		right: 10px;
		top: 12px;
	}
}

@media (max-width: $screen-sm) {
	.game-pricing-filters {
		margin-bottom: 10px;
	}

	.game-pricing__table {


		thead {
			display: none;
		}

		.game-price-cell > a {
			float: right;
		}

		tr > td:first-child, tr > th:first-child {
			padding: 0 0 14px 0;
		}

		tr {
			padding: 20px;
		}

		tr > td:nth-child(2) {
			position: absolute;
			top: 14px;
			right: 100px;
		}

		tr > td[data] {
			width: 30%;
			display: inline-block;
			font-size: 12px;
			vertical-align: top;

			&::before {
				content: attr(data);
				display: block;
				font-size: 10px;
				opacity: .5;
			}
		}

		tr > td:last-child {
			display: none;
		}
	}
}
