.page-error {
	text-align: center;
	color: #fff;
	padding: 20px;
}

.page-error__img {
	width: 130px;
	display: inline-block;
	margin-bottom: 20px;
	padding-top: 20px;
}

.page-error__title {
	font-size: 1.6rem;
	font-weight: 700;
}

.page-error__description {
	font-weight: 300;
	font-size: 1.2rem;
	margin-bottom: 2px;
}

@media (min-width: $screen-sm) {
	.page-error {
		width: 520px;
		text-align: left;
		height: 140px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -70px 0 0 -260px;
	}

	.page-error__img {
		float: left;
		display: block;
		margin-right: 24px;
		padding: 0;
	}

	.page-error__title {
		padding-top: 8px;
	}


}