html {
	height: 100%;
}

body {
	min-height: 100%;
	background: $color-primary-900;
	font-family: $font-family-base;
	position: relative;
}

app {
	position: relative;
}


.background-gradient {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 1;
	background: rgb(32, 48, 61); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(32, 48, 61, 1) 0%, rgba(18, 28, 36, 1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgba(32, 48, 61, 1) 0%, rgba(18, 28, 36, 1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgba(32, 48, 61, 1) 0%, rgba(18, 28, 36, 1) 100%);
	overflow: hidden;
}

a {
	color: $color-primary-100;
	text-decoration: none;

	&:hover {
		color: #fff;
		text-decoration: underline;
	}
}

icon {
	display: inherit;
}

svg.icon {
	display: inline-block;
}

span.caret {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: .3em;
	vertical-align: middle;
	border-top: .3em solid;
	border-right: .3em solid transparent;
	border-left: .3em solid transparent;
}