.btn {
	font-size: 14px;
	background-color: $color-primary-500;
	color: #fff;
	border: solid 1px transparent;
	border-radius: $border-radius-base;
	font-family: $font-family-base;
	padding: 5px 10px;
	display: inline-block;
	cursor: pointer;
	transition: background 100ms ease;
	user-select: none;

	&:hover {
		background-color: $color-primary-600;
		text-decoration: none;
	}

	&:active, &.active {
		background-color: $color-primary-700;
	}
}

// ACCENT
.btn--accent {
	background-color: $color-accent-500;

	&:hover {
		background-color: $color-accent-600;
	}

	&:active, &.active {
		background-color: $color-accent-700;
	}
}

// DARK BLUE
.btn--dark-blue {
	background-color: $color-primary-600;

	&:hover {
		background-color: darken($color-primary-600, 5%);
	}

	&:active, &.active {
		background-color: darken($color-primary-600, 8%);
	}
}

// DARKEST BLUE
.btn--darkest-blue {
	background-color: $color-primary-1000;

	&:hover {
		background-color: darken($color-primary-1000, 2%);
	}

	&:active, &.active {
		background-color: darken($color-primary-1000, 2%);
	}
}

// SUCCESS
.btn--success {
	background-color: $color-success-500;

	&:hover {
		background-color: $color-success-600;
	}

	&:active, &.active {
		background-color: $color-success-700;
	}
}



.btn--large {
	padding: 7px 16px;
	font-size: 1.15rem;
}