.container {
	width: 100%;
	padding: 0 20px;
}

.container.container__no-mobile-padding {
	padding: 0;
}

@media (min-width: $screen-sm) {
	.container.container__no-mobile-padding {
		padding: 0 20px;
	}
}

@media (min-width: $screen-lg) {
	.container,
	.container.container__no-mobile-padding {
		width: $container-lg;
		margin: 0 auto;
		padding: 0;
	}
}