.tabs {
	width: 100%;
	border-bottom: solid 1px rgba(#fff, .5);
	height: 39px;
	cursor: default;
	user-select: none;
}

.tabs__btn {
	background: none;
	color: #fff;
	opacity: .5;
	font-size: 1.1rem;
	border: none;
	border-bottom: solid 4px transparent;
	padding: 4px 14px 10px 14px;
	transition: opacity 200ms ease, border 200ms ease;
	cursor: pointer;

	&.active {
		color: #fff;
		border-bottom-color: $color-accent-500;
		opacity: 1;
		cursor: default;
	}

	&:hover {
		opacity: 1;
	}
}