.table {
	border-collapse: collapse;
	padding: 0;
	background: transparent;
	width: 100%;
	font-size: 16px;
	font-weight: 400;
	position: relative;

	th {
		font-size: 12px;
		text-transform: uppercase;
		opacity: .5;
		font-weight: 300;
	}

	th, td {
		padding: 10px 20px 10px 0;
	}

	td {
		border-top: solid 1px rgba(#fff, .1);
	}

	tr > td:first-child, tr > th:first-child {
		padding: 20px;
	}

	tr.active {
		> td {
			border-top: solid 2px $color-success-500;
			border-bottom: solid 2px $color-success-500;
		}

		> td:first-child {
			border: solid 2px $color-success-500;
			border-right: none;
		}

		> td:last-child {
			border: solid 2px $color-success-500;
			border-left: none;
		}
	}
}

@media (max-width: $screen-sm) {
	.table {
		display: block;

		tr, th, td, thead, tbody {
			display: block;
			position: relative;
		}

		td {
			border-top: none;
		}

		tr {
			border-top: solid 1px rgba(#fff, .1);
		}

		tr.active {
			border: solid 6px $color-success-500;
			border-radius: $border-radius-base;

			> td, > td:first-child, > td:last-child {
				border: none;
			}
		}

	}

}