//
// Headings
//

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	margin-bottom: .5rem;
	font-family: $headings-font-family;
	font-weight: $headings-font-weight;
	line-height: $headings-line-height;
	color: $headings-color;
}

h1, .h1 { font-size: $font-size-h1; }
h2, .h2 { font-size: $font-size-h2; }
h3, .h3 { font-size: $font-size-h3; }
h4, .h4 { font-size: $font-size-h4; }
h5, .h5 { font-size: $font-size-h5; }
h6, .h6 { font-size: $font-size-h6; }

.lead {
	font-size: $lead-font-size;
	font-weight: $lead-font-weight;
}

// Type display classes
.display-1 {
	font-size: $display1-size;
	font-weight: $display1-weight;
}
.display-2 {
	font-size: $display2-size;
	font-weight: $display2-weight;
}
.display-3 {
	font-size: $display3-size;
	font-weight: $display3-weight;
}
.display-4 {
	font-size: $display4-size;
	font-weight: $display4-weight;
}


//
// Horizontal rules
//

hr {
	margin-top: $spacer-y;
	margin-bottom: $spacer-y;
	border: 0;
	border-top: $hr-border-width solid $hr-border-color;
}


//
// Emphasis
//

small,
.small {
	font-size: $small-font-size;
	font-weight: $font-weight-normal;
}

mark,
.mark {
	padding: $mark-padding;
	background-color: $color-warning-500;
}


//
// Misc
//

// Builds on `abbr`
.initialism {
	font-size: 90%;
	text-transform: uppercase;
}

// Blockquotes
.blockquote {
	padding: ($spacer / 2) $spacer;
	margin-bottom: $spacer;
	font-size: $blockquote-font-size;
	border-left: $blockquote-border-width solid $blockquote-border-color;
}

.blockquote-footer {
	display: block;
	font-size: 80%; // back to default font-size
	color: $blockquote-small-color;

	&::before {
		content: "\2014 \00A0"; // em dash, nbsp
	}
}

// Opposite alignment of blockquote
.blockquote-reverse {
	padding-right: $spacer;
	padding-left: 0;
	text-align: right;
	border-right: $blockquote-border-width solid $blockquote-border-color;
	border-left: 0;
}

.blockquote-reverse .blockquote-footer {
	&::before {
		content: "";
	}
	&::after {
		content: "\00A0 \2014"; // nbsp, em dash
	}
}