


$color-primary-700: #253a49;
$color-primary-100: lighten($color-primary-700, 48%);
$color-primary-200: lighten($color-primary-700, 40%);
$color-primary-300: lighten($color-primary-700, 32%);
$color-primary-400: lighten($color-primary-700, 24%);
$color-primary-500: #416681;
$color-primary-600: lighten($color-primary-700, 8%);
$color-primary-800: darken($color-primary-700, 4%);
$color-primary-900: darken($color-primary-700, 8%);
$color-primary-1000: darken($color-primary-900, 3%);

$color-accent-500: #EF6455;
$color-accent-100: lighten($color-accent-500, 32%);
$color-accent-200: lighten($color-accent-500, 24%);
$color-accent-300: lighten($color-accent-500, 16%);
$color-accent-400: lighten($color-accent-500, 8%);
$color-accent-600: darken($color-accent-500, 8%);
$color-accent-700: darken($color-accent-500, 16%);
$color-accent-800: darken($color-accent-500, 24%);
$color-accent-900: darken($color-accent-500, 32%);

$color-complement-500: #ffd44d;
$color-complement-100: lighten($color-complement-500, 32%);
$color-complement-200: lighten($color-complement-500, 24%);
$color-complement-300: lighten($color-complement-500, 16%);
$color-complement-400: lighten($color-complement-500, 8%);
$color-complement-600: darken($color-complement-500, 8%);
$color-complement-700: darken($color-complement-500, 16%);
$color-complement-800: darken($color-complement-500, 24%);
$color-complement-900: darken($color-complement-500, 32%);

$color-error-100: #ffefee !default;
$color-error-200: #ffcdca !default;
$color-error-300: #ffaca6 !default;
$color-error-400: #ff8a83 !default;
$color-error-500: #ff695f !default;
$color-error-600: #ef4c42 !default;
$color-error-700: #e12d21 !default;
$color-error-800: #bb2419 !default;
$color-error-900: #94241c !default;

$color-warning-100: #fff6ee !default;
$color-warning-200: #ffe2ca !default;
$color-warning-300: #ffcea6 !default;
$color-warning-400: #ffbb83 !default;
$color-warning-500: #ffa75f !default;
$color-warning-600: #f78f39 !default;
$color-warning-700: #eb7717 !default;
$color-warning-800: #bb6219 !default;
$color-warning-900: #94521c !default;

$color-success-500: #598c54;
$color-success-100: lighten($color-success-500, 32%);
$color-success-200: lighten($color-success-500, 24%);
$color-success-300: lighten($color-success-500, 16%);
$color-success-400: lighten($color-success-500, 8%);
$color-success-600: darken($color-success-500, 8%);
$color-success-700: darken($color-success-500, 16%);
$color-success-800: darken($color-success-500, 24%);
$color-success-900: darken($color-success-500, 32%);

$color-silver: #f4f7f9;

$color-grey-10: #f9f9f9 !default;
$color-grey-25: #f3f3f3 !default;
$color-grey-50: #ebebeb !default;
$color-grey-75: #e3e3e3 !default;
$color-grey-100: #d3d3d3 !default;
$color-grey-200: #c3c3c3 !default;
$color-grey-300: #b3b3b3 !default;
$color-grey-400: #a3a3a3 !default;
$color-grey-500: #808080 !default;
$color-grey-600: #707070 !default;
$color-grey-700: #606060 !default;
$color-grey-800: #505050 !default;
$color-grey-900: #404040 !default;




// 3. Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer:   1rem !default;
$spacer-x: $spacer !default;
$spacer-y: $spacer !default;
$spacers: (
		0: (
				x: 0,
				y: 0
		),
		1: (
				x: ($spacer-x * .25),
				y: ($spacer-y * .25)
		),
		2: (
				x: ($spacer-x * .5),
				y: ($spacer-y * .5)
		),
		3: (
				x: $spacer-x,
				y: $spacer-y
		),
		4: (
				x: ($spacer-x * 1.5),
				y: ($spacer-y * 1.5)
		),
		5: (
				x: ($spacer-x * 3),
				y: ($spacer-y * 3)
		)
) !default;
$border-width: 1px !default;

// custom spacing variables
$space-sm: 5px;
$space-md: 10px;
$space-lg: 20px;
$space-xl: 40px;



// 9. Fonts
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif: 'Roboto', Roboto, "Helvetica Neue", Arial, sans-serif !default;
$font-family-monospace:  'Fira Mono', 'Ubuntu Mono', Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:       $font-family-sans-serif !default;

// Pixel value used to responsively scale all typography. Applied to the `<html>` element.
$font-size-root: 16px !default;

$font-size-base: 1rem !default;
$font-size-lg:   1.25rem !default;
$font-size-sm:   .875rem !default;
$font-size-xs:   .75rem !default;

$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;

$font-weight-base: $font-weight-normal !default;
$line-height-base: 1.4 !default;

$font-size-h1: 2.5rem !default;
$font-size-h2: 2rem !default;
$font-size-h3: 1.75rem !default;
$font-size-h4: 1.5rem !default;
$font-size-h5: 1.25rem !default;
$font-size-h6: 1rem !default;

$display1-size: 6rem !default;
$display2-size: 5.5rem !default;
$display3-size: 4.5rem !default;
$display4-size: 3.5rem !default;

$display1-weight: 300 !default;
$display2-weight: 300 !default;
$display3-weight: 300 !default;
$display4-weight: 300 !default;

$headings-margin-bottom: ($spacer / 2) !default;
$headings-font-family:   inherit !default;
$headings-font-weight:   500 !default;
$headings-line-height:   1.1 !default;
$headings-color:         $color-grey-700 !default;

$lead-font-size:   1.25rem !default;
$lead-font-weight: 300 !default;

$small-font-size: 80% !default;

$text-muted: $color-grey-300 !default;

$abbr-border-color: $color-grey-300 !default;

$blockquote-small-color:  $color-grey-300 !default;
$blockquote-font-size:    ($font-size-base * 1.25) !default;
$blockquote-border-color: $color-grey-75 !default;
$blockquote-border-width: .25rem !default;

$hr-border-color: rgba(0,0,0,.1) !default;
$hr-border-width: $border-width !default;

$mark-padding: .2em !default;

$dt-font-weight: $font-weight-bold !default;

$kbd-box-shadow:         inset 0 -.1rem 0 rgba(0,0,0,.25) !default;
$nested-kbd-font-weight: $font-weight-bold !default;

$list-inline-padding: 5px !default;


$font-size-root: 14px;
$font-family-base: 'Roboto', 'Helvetica', sans-serif;
$font-size-base: 1rem;
$font-weight-base: 400;
$body-color: #fff;
$body-bg: $color-primary-900;

$border-radius-base: .2rem;

$container-sm: 718px;
$container-md: 950px;
$container-lg: 1150px;

$screen-sm: 768px;
$screen-md: 1000px;
$screen-lg: 1200px;